<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FastLetters - Teste de Digitação</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/table.css" />
        
    </head>
    <body>
    
    <div class="container">
        <div class="timer">
            <h3 id="timer"> 01:00</h3>
        </div>

    <div class="centerContainer">
        <div class="textBox" >
            <p id="text"><%= text %></p> 
        </div>
        <div class="input">
            <input class="data" id="input" type="text" />
        </div>
    </div>
    
</div>
<div class="result">
    <h1 class="textResult" id="result">Resultado</h1>
</div>
<input type="checkbox" id="meuModal" class="modalBtn" checked>
<div class="table"><!-- Aqui tem um hidden-->
    <div class="content">
        <div class="title">
            <h3 id="wordMin"></h3>
        </div>
    <table>
        <tr>
            <td>Teclas apertadas:</td>
            <td id="keyPress"></td>
        </tr>
        <tr>
            <td>Palavras Certas:</td>
            <td id="wordRight"></td>
        </tr>
        <tr>
            <td>Palavras Erradas:</td>
            <td id="wordWrong"></td>
        </tr>
    </table>
        <input type="button" class="resetTest" value="Repeat" id="repeat"></input>
    </div>
</div>
    <script type="module" src="/scripts/repeat.js"></script>
    <script type="module" src="/scripts/filterText.js"></script>
</body>
</html>
