<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee type - Treine sua Digitação</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="../public/css/table.css" />
    <link rel="icon" href="../public/img/icon_coffee-type.png" />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4717297287422638"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="title">
      <h1 class="textTitle">Coffee Type</h1>
      <img src="../public/img/cup.svg" alt="" />
    </div>
    <div class="adContainer">
      <div class="ad">
        <script
          async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4717297287422638"
          crossorigin="anonymous"
        ></script>
        <!-- Lateral coffeetype -->
        <ins
          class="adsbygoogle"
          style="display: block"
          data-ad-client="ca-pub-4717297287422638"
          data-ad-slot="8888298988"
          data-ad-test="on"
          data-ad-format="auto"
          data-full-width-responsive="true"
        ></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <div class="container">
        <div class="timer">
          <h3 id="timer">01:00</h3>
        </div>

        <div class="centerContainer">
          <div class="alginBoxes">
            <div class="nextWord">
              <h3>Digite:</h3>
              <div class="nextWordContent">
                <p class="nextWordText" id="nextWord"></p>
              </div>
              <div class="result">
                <h1 class="textResult" id="result">Resultado</h1>
              </div>
            </div>
            <div class="textBox">
              <h3>Proxima Palavra:</h3>
              <p id="text"></p>
            </div>
          </div>
          <div class="input">
            <input class="data" id="input" type="text" />
          </div>
        </div>
      </div>
      <div class="ad">
        <script
          async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4717297287422638"
          crossorigin="anonymous"
        ></script>
        <!-- Lateral coffeetype -->
        <ins
          class="adsbygoogle"
          style="display: block"
          data-ad-client="ca-pub-4717297287422638"
          data-ad-slot="8888298988"
          data-ad-test="on"
          data-ad-format="auto"
          data-full-width-responsive="true"
        ></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
    <input type="checkbox" id="meuModal" class="modalBtn" checked />
    <div class="table">
      <div class="content">
        <div class="title">
          <h3 id="wordMin"></h3>
        </div>
        <table>
          <tr>
            <td>Teclas apertadas:</td>
            <td id="keyPress"></td>
          </tr>
          <tr>
            <td>Palavras Certas:</td>
            <td id="wordRight"></td>
          </tr>
          <tr>
            <td>Palavras Erradas:</td>
            <td id="wordWrong"></td>
          </tr>
        </table>
        <input type="button" class="resetTest" value="Repeat" id="repeat" />
      </div>
    </div>
    <script type="module" src="../public/scripts/repeat.js"></script>
    <script type="module" src="../public/scripts/filterText.js"></script>
  </body>
</html>
