.table{
    display: fixed;
    background-color:rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in;
}
#meuModal{
    opacity: 0;
}
#meuModal:checked + .table, #meuModal:checked + .content{
    display: none;
    
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #00FF88;
    width: 50%;
    height: 50%;

    background-color: #09070C;
    border: #00FF88 solid 5px;
    color: #00FF88;
}
.title{
    font-size: 30px;
}
.resetTest{
    background-color: #00ff88;
    color: #09070c;
    cursor: pointer;
    border: solid #00ff88 1px;
    text-decoration: none;
    width: 100px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}
